/* CSS Reset */
*,
:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

body {
    width: 100%;
    height: 100%;
    background-color: rgb(29, 29, 29);
    display: flex;
    justify-content: center;
    align-items:flex-start;
}

#gamecanvas {
    display: block;
    background-color: gray;
    max-width: 100%;
    max-height: 100%;
}