/* CSS Reset */
*,
:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
}

body {
    width: 100%;
    height: 100%;
    background-color: rgb(29, 29, 29);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#game-container {
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

#hud,
#start-screen,
#game-over-win-screen,
#pause-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#hud {
    pointer-events: none;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    color: white;
    font-size: 35px;
}

#start-screen,
#game-over-win-screen,
#pause-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

#gamecanvas {
    display: block;
    background-color: black;
}

button {
    border: none;
    margin: 10px 0;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 24px;
    border-radius: 3px;
    color: white;
}

#restart-button {
    background-color: green;
}

#start-button {
    background-color: blue;
}

#pause-button,
#resume-button {
    pointer-events: auto;
    padding: 0;
    background-color: blue;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pause-button svg,
#resume-button svg {
    fill: white;
}

#final-score-display,
#pause-score-display,
#pause-lives-display {
    font-size: 24px;
}

.hidden {
    display: none !important;
}